body{
  background: rgb(143,6,6);
  background: linear-gradient(90deg, rgba(143,6,6,1) 0%, rgba(203,91,76,1) 16%, rgba(13,87,102,1) 100%);
}
h1{
  color: rgb(4, 26, 54);
  font-size: 50px;
  text-align: center;
}
h2{
  color: rgb(7, 26, 88);
  text-align: center;
}
ul{
  font-size: 150%;
  padding: 50px;
}
img{
  height: 400px;
  width: auto;
}
p{
  font-weight: bold;
}