body{
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(76,76,203,1) 35%, rgba(0,212,255,1) 100%);
}
h1{
  color: rgb(184, 101, 76);
  font-size: 50px;
  text-align: center;
}
h2{
  color: brown;
  text-align: center;
}
ul{
  font-size: 150%;
  padding: 50px;
}
img{
  height: 400px;
  width: auto;
}
p{
  font-weight: bold;
}